html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact {
    flex: 1;
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h1 {
    color: #fbfdfc;
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.contact p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: #ffffff;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #00ffc3;
}

.submit-btn {
    background-color: #00ffc3;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #00bfa5;
    text-align: center;
}

.contact-info {
    margin-top: 30px;
    text-align: center;

}

.contact-info a {
    color: #00ffc3;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
